<div class="container">
    <div class="card shadow mt-4" >
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>Id :</th>
                    <th>Album Title :</th>
                    <th>Artist Name :</th>
                    <th>Release Date :</th>
                    <th>Genre :</th>
                    <th *ngIf="authService.isAdmin()">Delete :</th>
                    <th *ngIf="authService.isAdmin()">Update :</th>
                </tr>

                <tbody *ngFor="let album of albums">
                    <tr>
                        <td>{{album.idAlbum}}</td>
                        <td>{{album.title}}</td>
                        <td>{{album.artist}}</td>
                        <td>{{album.releaseDate | date:'yyyy/MM/dd'}}</td>
                        <td>{{album.genre}}</td>
                        <td><a class="btn btn-danger" (click)="deleteAlbum(album)" *ngIf="authService.isAdmin()">
                            <i class='bx bxs-trash'></i> Delete</a></td>
                        <td><a class="btn btn-info" [routerLink]="['/update-album', album.idAlbum]" *ngIf="authService.isAdmin()">
                            <i class='bx bxs-edit'></i> Update</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
